@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow: auto;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: #2323a1 #ebebeb;
  /* thumb color | track color */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ebebeb;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2323a1;
  border-radius: 10px;
}

/* Not Found Page */
.backtohome {
  @apply relative inline-block border border-white mt-96 px-10 py-4 font-bold text-3xl text-white rounded-xl overflow-hidden;
}

.backtohome .original {
  @apply bg-white text-[#020234] absolute inset-0 grid place-content-center transition-transform duration-200;
}

.backtohome:hover .original {
  transform: translateY(100%);
}

.backtohome .letters {
  @apply inline-flex relative z-10;
}

.backtohome span {
  @apply opacity-0 transition duration-200;
  transform: translateY(-15px);
}

.backtohome span:nth-child(2n) {
  transform: translateY(15px);
}

.backtohome:hover span {
  @apply opacity-100;
  transform: translateY(0);
}

/* Add below line */
/* input color default */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important; /* your bg color */
  box-shadow: 0 0 0 1000px #ffffff inset !important;         /* your bg color */
  -webkit-text-fill-color: #000 !important;                  /* your text color */
  caret-color: #000;                                         /* caret color */
  transition: background-color 5000s ease-in-out 0s;         /* hack to delay */
}

/* for firefox */
input:autofill {
  background-color: #ffffff !important;
  color: #000 !important;
}